{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}peliculas{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <h1>{{ actores['nombre'] }}</h1>
         {% for peli in peliculas %}
            <article class="post">
            <header>
            <div>
                <h1>{{ a['first_name'] }} {{ a['last_name'] }}</h1>
            </div>
      </header>
    </article>
        </div>
      </header>
    </article>

{% endblock %}